

.btn{
    background-color: #09af00;
    border-radius: 15;
    color: black;
    font-size: 10;
    vertical-align: middle;
    width: 40;
    height: 30;


}

.action-bar-title {
    color:black;
}

.fa {
    font-family: "FontAwesome";
}

task{
    width: 200;
}

