<BottomNavigation>
    <TabStrip class="action-bar">
        <TabStripItem>
            <Label text="Create task"></Label>
            <Image src="font://&#xf067;" class="fa t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Task list"></Label>
            <Image src="font://&#xf0ca;" class="fa t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="completed"></Label>
            <Image src="font://&#xf00c;" class="fa t-36"></Image>
        </TabStripItem>
        <TabStripItem>
                <Label text="stats"></Label>
                <Image src="font://&#xf080;" class="fa t-36"></Image>
            </TabStripItem>
        <TabStripItem>
            <Label text="settings"></Label>
            <Image src="font://&#xf013;" class="fa t-36"></Image>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="task"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="list"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="completed"></page-router-outlet>
    </TabContentItem>
    <TabContentItem>
        <page-router-outlet name="stats"></page-router-outlet>
    </TabContentItem>
    <TabContentItem>
        <page-router-outlet name="settings"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
